{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
掲示板 - {{ super() }}
{% endblock %}
{% block content %}
<script>
    var book_id = "{{ book.id }}";
</script>
<script src="{{url_for('static', filename='scripts/posts.js')}}"></script>
<div class="row">
    <div id="load_post_button" class="col-12">
        <button class="col-12 btn btn-light btn-outline-primary" onclick="load_old_posts();">100件読み込む</button>
    </div>
    {% for post in posts|reverse %}
        {% if post.from_user_id == current_user.id %}
        <div class="col-lg-1 offset-lg-6 col-md-1 offset-md-2 col-sm-1 offset-sm-1 col-1"></div>
        <div class="speech-bubble-self col-lg-4 col-md-8 col-sm-8 col-9">
            {% for splitted_post in post.post|replace_newline %}
            <p>{{splitted_post|urlize}}</p>
            {% endfor %}
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>{{current_user.username}}</p>
        </div>
        {% else %}
        <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>{{post.user.username}}</p>
        </div>
        <div class="speech-bubble-dest col-lg-4 col-md-8 col-sm-8 col-9">
            {% for splitted_post in post.post|replace_newline %}
            <p>{{splitted_post|urlize}}</p>
            {% endfor %}
        </div>
        <div class="col-lg-7 col-md-3 col-sm-1 col-1"></div>
        {% endif %}
    {% endfor %}
    <div id="post-form" class="col-lg-4 offset-lg-7 col-md-8 offset-md-4 col-sm-12 col-12">
        <form method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.post, cols="50", rows="5")}}
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}
