{% extends "base.html" %}
{% block content %}
<h3>利用規約</h3>
<h5>貸出と延滞について</h5>
{# <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> #}
<div class="row">
    <div class="col-lg-8 offset-lg-2"></div> {#この辺はレイアウトの問題#}
        <ul>
            <li>返却期限は貸出日から2週間です。</li>
            <li>返却期限を過ぎた場合、延滞1日につき反則点1点が追加されます。</li>
            <li>反則点が累計50点になるごとに2週間の貸出停止になります。</li>
            <li>14日以上延滞した場合、累積反則点にかかわらず、その図書を返却するまで貸出停止になります。</li>
        </ul>
    </div>
{% endblock %}
